<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting type="lsep" label="31000" />
    <setting id="custom_file_extensions" type="text" label="31001" default="mpg, mpeg, avi, flv, wmv, mkv, 264, 3g2, 3gp, ifo, mp4, mov, iso, ogm" />
    <setting id="custom_log_enabled" type="bool" label="31002" default="false" />
	<setting id="log_file_name" type="folder" label="31003" default="" />
	<setting id="blacklist" type="text" label="31004" default="sample.,-trailer." />
    <setting id="debug_log_enabled" type="bool" label="31005" default="false" />
</settings>

